@import '../../styles/colors';

.card {
  background-color: $bg-light;
  border-radius: 2px;
  margin-top: 1.7em;
  margin-right: 3em;
  max-width: 500px;
  min-width: 350px;
  .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
    a {
      color: $light-color;
      margin-right: 16px;
      transition: color 0.3s ease;
      text-transform: uppercase;
      &:hover {
        color: #ffd8a6;
        text-decoration: none;
      }
    }
  }
  .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    .card-title {
      line-height: 48px;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      margin: 0;
    }
  }
}
