@import url('https://fonts.google.com/?selection.family=Josefin+Sans|Nova+Square|Oxygen:300|Rajdhani|Roboto+Condensed:300');

$main-color: #22c191;
$light: #fff;
$accent: #F85658;
$dark-text: #312c32;
$darkbg: #242E38;
$bg: #2A3342;
$pattern: url("https://subtlepatterns.com/patterns/stardust.png");
html, body, #main-app {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-size: 23px;
  background-color: #E7EDEE;
  position: relative;
  color: #fff;
  font-family: 'Oxygen', 'Nova Square', sans-serif;
  line-height: 1.4em;
}
input, textarea {
  font-family: 'Nova Square', sans-serif;
  &:focus {
    outline: none !important;
    border: 1px solid $darkbg;
    box-shadow: 0 0 6px $main-color;
  }
}

@mixin flow {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

@mixin horizontal {
  flex-direction: row;
}

@mixin vertical {
  flex-direction: column;
}

/* TODO: Extract these styles into react components */
.flow {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}
/* End Todo here */

.container {
  height: 100vh;
  justify-content: space-between;
}

.main-content {
  flex: 10;
  justify-content: space-between;
}


.post-list {
  @include flow;
  @include vertical;

  margin: 0;
  padding: 0;
  background-color: $darkbg;
  flex: 1;
  list-style-type: none;
  justify-content: flex-start;
  color: $light;
  .empty-post-list-message {
    padding: 4em;
    text-align: center;
    margin: 0 auto;
  }

  li {
    padding: 16px 20px;
    overflow: auto;
    &:hover {
      background: rgba(0,0,0,0.3);
      cursor: pointer;
    }
    h3 {
      font: 20px/1.5 'Roboto Condensed', sans-serif;
      margin: 0 0 2px 0;
    }
    p {
      margin-top: 4px;
      font: 200 12px/1.5 'Nova Square', serif;
    }
  }
}

.post-row {
  @include flow;
  @include horizontal;
  &.active {
    background: $bg;
    color: $main-color;
  }
  justify-content: space-between;
  align-items: center;
  .item-content {
    flex-direction: column;
    display: flex;
    justify-content: column;
    & > time {
      color: #fff;
      font-size: 13px;
    }
  }
}

.edit-preview-container {
  flex: 3;
  .toggleZen {
    align-self: center;
    cursor: pointer;
    padding: 0 0.5em;
    & > svg {
      color: $main-color;
    }
  }
}

.md-editor {
  background-color: $bg;
  padding: 10px 30px;
  flex: 2;
  .zen-title {
    color: $accent;
  }
}

.post-form {
  @include flow;
  @include vertical;

  background-color: $bg;
//  flex: 1;
  padding: 20px;
  height: 100%;
  width: auto;
  
  input[type=text], textarea[name=new-post] {
    background: $darkbg;
    border: 1px solid $darkbg;
    border-radius: 4px;
    color: $light;
  }
  
  input[type=text] {
    flex: 1;
    padding: 16px 24px;
    margin: 8px 0 0 0;
    font-size: 18px;
  }
  textarea[name=new-post] {
    resize: none;
    flex: 2;
    min-height: 1em;
    padding: 16px 24px;
    margin: 8px 0 0 0;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  input[type=submit] {
      padding: 7px 15px;
      border: 0 none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: $main-color;
      color: white;
      font-size: 14px;
      letter-spacing: 0.7px;
      cursor: pointer;
      &:disabled {
        background-color: #a9a9a9;
        cursor: not-allowed;
        color: #585353;
      }
    }
}

.icon-row {
  @include flow;
  @include horizontal;
  justify-content: flex-end;
  align-items: center;
  & > svg {
    margin-left: 8px;
    cursor: pointer;
    color: #999;
  }
  .clearInputs, .deletePosts {
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    &.disabled {
      &:hover {
        fill: lightgray;
      }
      cursor: not-allowed;
      color: lightgray;
    }
    &:hover {
      fill: $main-color;
    }
  }
}

header, footer {
  padding: 5px;
  background-color: white;
}
header {
  position: relative;
  background: $main-color;
  color: $light;
  padding: 5px 25px;
  letter-spacing: 2px;
  h3 {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    margin: 7px 6px 7px 0;
  }
  ul {
    position: absolute;
    top: 22%;
    right: 1em;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      font-size: 0.9em;
      float: right;
      &:nth-child(even) {
        margin-right: 8px;
      }
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 4px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $light;
        }
        &.disabled {
          cursor: not-allowed;
          &:hover {
            color: lightgray;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 2em;
  flex: 1;
}

.container-view {
  @include flow;
  @include vertical;

  align-items: center;
  align-content: center;
  height: 100vh;
  background: $pattern;
  .main-content {
    position: relative;
    background-color: $bg;
    width: 55%;
    padding: 4em 6.5em;
    .title {
      h1 {
        color: $accent;
        font-size: 1.8em;
        margin-bottom: 0.1em;
      }
      .date {
        font-size: 0.80em;
        color: darkgray;
      }
    }
    .description {
      color: $dark-text;
      font-size: 1.15em;
      letter-spacing: 0.01em;
      line-height: 1.5em;
      p {
        text-align: left;
        line-height: 1.4em;
      }
    }
    .close-icon {
      position: absolute;
      left: 5%;
      top: 6%;
      cursor: pointer;
    }
    .revisions {
      @include flow;
      @include vertical;
      
      justify-content: center;
      align-items: center;
      .title {
        margin-bottom: 10px;
      }
      .filterable-dropdown {
        margin-bottom: 3.5em;
      }
      .empty-message {
        margin-top: -1em;
      }
    }
  }
}






.divider {
  margin: 8px 0;
  height: 1px;
  background-color: $main-color;
}

.sidebar-container {
  background-color: $darkbg;
  width: 25%;
}

.sidebar-main-content {
  background-color: $bg;
  .header-wrapper .header .burger {
    text-decoration: none;
    color: white;
    padding: 8px;
    cursor: pointer;
    svg {
      margin-top: -5px;
    }
  }
}

.header-wrapper {
  font-family: 'Rajdhani', sans-serif;
  &.sidebar {
    width: 100%;
    height: 100%;
  }
  .header {
    background-color: $main-color;
    color: white;
    padding: 16px;
    font-size: 1.2em;  
    position: relative;
    .nav {
      position: absolute;
      top: 24%;
      right: 1em;
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        font-size: 0.75em;
        float: right;
        &:nth-child(even) {
          margin-right: 8px;
        }
        a {
          display: block;
          color: white;
          text-align: center;
          padding: 4px;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: $light;
          }
          &.disabled {
            cursor: not-allowed;
            &:hover {
              color: lightgray;
            }
          }
        }
      }
    }
  }
  .content {
    padding: 16px;
    height: 100%;
    .sidebar-link {
      display: block;
      padding: 16px 0;
      text-decoration: none;
      cursor: pointer;
      &.active {
        border-bottom: 1px solid $main-color;
      }
      &:hover {
        color: $light;
        background: $main-color;
      }
      &.disabled {
        cursor: not-allowed;
        &:hover {
          color: lightgray;
        }
      }
    }
  }
}

.hr-divider {
  @include flow;
  @include horizontal;
  align-items: center;
  margin-top: 6px;
  .hr.half {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    width: 48%;
  }
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.CodeMirror {
  height: calc(100vh - 50px);
  z-index: 0;
}

.modes-dropdown {
  position: absolute;
  top: 0.5em;
  right: 0.7em;
  min-width: 6em;
  max-width: 6em;
}

.save-snippet {
  position: absolute;
  top: 0.2em;
  right: 7.5em;
  cursor: pointer;
}

.change-theme {
  position: absolute;
  top: 0.2em;
  right: 10.4em;
  cursor: pointer;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $darkbg;
  border-top: 1px solid $bg;
  margin-top: 0;
  p.text-muted {
    font-size: 14px;
    line-height: 1.42;
    margin: 20px 0;
    padding-left: 12px;
    color: lightgray;
  }
}

.post-it {
  background: #fefabc; 
  padding: 15px;
  font-size: 15px; 
  color: #fff; 
  width: 200px; 
  transform: rotate(7deg);
  box-shadow: 0px 4px 6px #333;
  margin: 3em 0 0 4em;
  min-height: 150px;
  &.teal {
    background-color: #1abc9c;
  }
  &.green {
    background-color: #2ecc71;
  }
  &.blue {
    background-color: #3498db;
  }
  &.purple {
    background-color: #9b59b6;
  }
  &.red {
    background-color: #e74c3c;
  }
}

.snippets-container {
  @include flow;
  @include horizontal;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}