@import url('https://fonts.google.com/?selection.family=Josefin+Sans|Nova+Square|Oxygen:300|Rajdhani|Roboto+Condensed:300');

$main-color: #F85658;

body {
  padding-top: 50px;
  background-color: #E7EDEE;
  font-family: 'Oxygen', 'Nova Square', sans-serif;
  font-size: 23px;
  line-height: 1.4em;
}
